
@{
    ViewBag.Title = "IndexAmp";
    Layout = "~/Views/Shared/_LayoutAmp.cshtml";
}
<amp-img src="@Url.Content("~/Content/images/slide1.jpg")" alt="Welcome" height="200" width="800" layout="responsive"></amp-img>
<h2>IndexAmp</h2>

