
@{
    ViewBag.Title = "IndexAmp";
    Layout = "~/Views/Shared/_LayoutAmp.cshtml";
}
@section ampcustomstyle {
    @*build an font-loading sample to this code from google fonts
        @@font-face {
        font-family: "Bitstream Vera Serif Bold";
        src: url("https://somedomain.org/VeraSeBd.ttf");
    }

    body {
        font-family: "Bitstream Vera Serif Bold", serif;
    }*@
    /* any custom style goes here */
    body {
        background-color: white;
    }

    amp-img {
        background-color: gray;
    border: 1px solid black;
    }
}
<h3>Image with Responsive setting</h3>
<amp-img src="@Url.Content("~/Content/images/slide1.jpg")" alt="Welcome" height="300" width="800" layout="responsive"></amp-img>
<h2>IndexAmp</h2>

